<html>

<%- include('../includes/head') %>

<body>
    <%- include('../includes/navbar') %>

    <main>
        <div id="backblack">
            <form action="/users/editUser" method="POST">
            <div id="row">
                <div id="img" style="background-image: url('<%- user.imagem %>');"></div>
                    <div style="margin-top: 20px; margin-left: 20px;">
                        <div id="row">
                        <p>Nome:</p>
                        <p id="nome">
                            <%- user.nome %>
                        </p>
                        <input name="nome" id="input" placeholder="Nome" style="display:none">
                    </div>
                        <div id="row">
                        <p>Data de registro: </p>
                        <p id="data">
                            <%- user.dataRegistro %>
                        </p>
                        </div>
                        
                        <div id="row">
                        <p>Email:</p>
                        <p id="email"> 
                            <%- user.email %>
                        </p>
                        <input name="email" id="input3" placeholder="Email" style="display:none">
                        </div>
                        <div id="row" className="muda" style="display:none">
                            <p>Senha:</p>
                            <input placeholder="Senha">
                            </div>
                    </div>

            </div>
            <div id="buttonTop">
                <button type="button" onclick="AtivarInput()">Editar conta</button>
                <button id="buttonConf" type="submit" style="display:none">Confirmar</button>
            </div>
            </form>
                <form id="buttonTop2" action="/users/delUser" method="POST">
                    <button type="submit" onclick="">Apagar conta</button>
                </form> 
        </div>
    </main>
    <footer>
        <h2 id="listaJogos">Lista de favoritos</h2>
        <% if(user.favoritos.length > 0){ %>
        <div class="user-games-list">
            <% user.favoritos.map(user=>{ %>
                <div style="align-items: center;margin-bottom: 50px;">
                    <a href="/users/delUserFav/<%= user.id%>">Remover dos favoritos</a>
                <a href="/games/<%= user.id %>" class="game-container" onmouseenter="hoverIn('<%= user.id %>')"
                    onmouseleave="hoverOut('<%= user.id %>')">
                    <div style=" background-image: url('<%- user.capa %>');" id="game-cover-<%= user.id %>" class="game-cover">
                    </div>
                    <p class="game-title" id="game-title-<%= user.id %>" onmouseenter="hoverIn('<%= user.id %>')"><%= user.nome %></p>
                </a>
                </div>
                <% }) %>
            <% } else {%>
            <p id="listaJogos">Você ainda não favoritou jogos!</p>
            <% } %>
        </div>
    </footer>
    <script>
        AtivarInput = ()=>{
            if(document.getElementById('input').style.display == 'flex'){
            document.getElementById('input').style.display= 'none'
            document.getElementById('input3').style.display= 'none'
            document.getElementById('nome').style.display= 'flex'
            document.getElementById('email').style.display= 'flex'
            document.getElementById('buttonConf').style.display= 'none'
            document.getElementsByClassName('muda').style.display= 'flex'
            }else{
                document.getElementById('input').style.display= 'flex'
                document.getElementById('input3').style.display= 'flex'
                document.getElementById('nome').style.display= 'none'
                document.getElementById('email').style.display= 'none'
                document.getElementById('buttonConf').style.display= 'flex'
                document.getElementsByClassName('muda').style.display= 'flex'
            }
        }

        const hoverIn = (id) => {
            document.getElementById('game-title-' + id).style.display = 'flex';
            document.getElementById('game-cover-' + id).style.opacity = 0.4;
        }
        const hoverOut = (id) => {
            document.getElementById('game-title-' + id).style.display = 'none'
            document.getElementById('game-cover-' + id).style.opacity = 1;
        }
    </script>
</body>
</html>