<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head') %>

<body>

    <%- include('../includes/navbar') %>

    <div class="game-wallpaper" style="background-image: url('<%= game.wallpaper %>');" ></div>
    <h1><%= game.nome %></h1>
    <h2>Desenvolvido por <%= game.dev %></h2>
    <h3><%= generos[game.genero] %></h3>
    <h3>Lançado em: <%= game.datalanc %></h3>
    
    <p><%= game.sinopse %></p>

    <a href="/games/<%= game.id %>/add-lista">S2</a>
    <br/><br/>
    <a href="/games/<%= game.id %>/deletar">ALTERAR</a>
    <br/><br/>
    <a href="/games/<%= game.id %>/deletar">DELETAR</a>
</body>
</html>