<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head') %>

<body>

    <%- include('../includes/navbar') %>

    <h1>Lista dos games disponiveis</h1>
    <div id="flex">
        <% for(let i = 0; i < games.length; i++){ %>
            <div style="align-items: center;margin-bottom: 50px;">
            <div onclick="houver()" style="background-image: url('<%- games[i].capa %>');" id="game-cover">
            </div>
                <a href="games/<%= games[i].id %>">
                    <%= games[i].nome %>
                </a>
            </div>
        <% } %>
    </div>

<script>
    houver = () =>{
        document.getElementsById('game-cover').style.display= 'none'
    }
</script>
</body>

</html>